
.subtitulo {
    justify-content: center;
    justify-items: center;
    vertical-align: middle;
    align-items: center;
    color: ;
}
.top {
   padding-top: 2em;
       
}
.text{
    text-align: center;
}